.heading {
  span {
    display: block;
  }

  &--name {
    &:first-line {
      font-size: 9.4rem; // sal
    }
    font-size: 5.4rem; // kabay
  }

  &--blog {
    span {
      font-size: 6.65rem; // insights
    }
  }

  &--person {
    span {
      font-size: 7.75rem; // about
    }
  }

  &--skills {
    span {
      font-size: 9.6rem; // skills
    }
  }

  &--leadership {
    span {
      font-size: 8.3rem; // people
    }
  }

  &--approach {
    font-size: 4.25rem; // approach
    span {
      font-size: 5.65rem; // approach
    }
  }

  &--jobs {
    span {
      font-size: 7.75rem; // approach
    }
  }

  &--contact {
    font-size: 6.75rem; // approach
  }
}
